stages:
  - build
  - lint

cache:
  paths:
    - .tmp/
    - vendor/
    - web/

composer:
  stage: build
  image: composer:2.4
  # Some helpful debugging
  before_script:
    - php -v
    - composer --version
  script:
    - composer install --ignore-platform-reqs

psalm:
  stage: lint
  extends: composer
  script:
  - vendor/bin/psalm --report=logs/psalm-junit.xml
  artifacts:
    when: always
    paths:
      - logs/psalm-junit.xml
    reports:
      junit: logs/psalm-junit.xml
